#single-tile-container {
  width: 240px;
  border-radius: 15px;
  height: 42px;
  margin-bottom: 24px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  p {
    line-height: 42px;
    text-align: center;
    margin: 0;
  }

  .is-selected {
    border-radius: 15px;
    background-color: green;
    opacity: 1;
    transform: scale(1);
    color: #fff;
    filter: drop-shadow(0 0 4px green);
  }
  .is-not-selected {
  border-radius: 15px;

    &:hover {
      cursor: pointer;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    }
  }
}
